// book
@mixin ellipsis($line: 1) {
  @if ($line == 1) {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  } @else {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $line;
  }
}

.book_inner {
  width: 1080px;
  margin: auto;
}
.book_top {
  width: 100%;
  background: linear-gradient(90deg, #6e88ff, #846fff);
  overflow: hidden;
}

.book_top_area {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
  .left_area {
    width: 736px;
  }
}

.book_title {
  font-size: 24px;
  color: #fff;
  margin-bottom: 10px;
}

.book_icon {
  display: inline-block;
  background: url("https://egosi.hackers.com/images/sub/book/book_icons.png");
  &.book_icon01 {
    width: 29px;
    height: 25px;
    background-position: 0 0;
    margin-right: 5px;
  }
  &.book_icon02 {
    width: 18px;
    height: 18px;
    background-position: -85px 0;
    margin-right: 2px;
  }
  &.book_icon03 {
    width: 36px;
    height: 43px;
    background-position: -39px 0;
    color: #fff;
    font-size: 15px;
    text-align: center;
    line-height: 37px;
    font-style: normal;
    vertical-align: top;
  }
  &.book_icon04 {
    width: 17px;
    height: 14px;
    background-position: -113px 0;
  }
  &.book_icon05 {
    width: 16px;
    height: 12px;
    background-position: -138px -22px;
  }
  &.book_icon06 {
    width: 51px;
    height: 29px;
    background-position: -60px -53px;
    border-radius: 10px;
  }
}

// slick
.left_area {
  .slick-slider {
    width: 100%;
    overflow: hidden;
  }
  .slick-slide {
    background: #fff;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 30px 70px;
  }
}

.right_area {
  width: 315px;
  .slick-slider {
    width: 100%;
    overflow: hidden;
  }
  .best_book_slide {
    height: 310px;
    background-color: #fff;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 15px 20px;

    .best_book_area {
      border-bottom: 1px solid #e5e5e5;
      padding: 5px 0;
      &:last-child {
        border-bottom: none;
      }
    }

    .best_book {
      width: 75px;
      height: auto;
      margin-left: 20px;
      display: inline-block;
    }

    .txt_box {
      display: inline-block;
      width: 100px;
      margin-left: 20px;
      vertical-align: top;

      p {
        font-size: 16px;
        color: #1a1a1a;
        font-weight: 600;
        margin-bottom: 8px;
        span {
          color: #ff007e;
        }
      }

      em {
        font-size: 14px;
        color: #1a1a1a;
        display: inline-block;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100px;
        white-space: normal;
        line-height: 1.2;
        height: 3.5em;
        text-align: left;
        word-wrap: break-word;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
      }
    }

    .lank_num {
      vertical-align: middle;
      margin-right: 15px;
      display: inline-block;
      width: 35px;
      height: 20px;
      line-height: 20px;
      border-radius: 15px;
      background: #373737;
      color: #fff;
      font-size: 13px;
      text-align: center;
    }
    .best_landing {
      vertical-align: middle;
      width: 225px;
      font-size: 14px;
      color: #1a1a1a;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      word-break: break-all;
      display: inline-block;
    }
  }
}

.slick-dots {
  width: auto;
  text-align: center;
  li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 3px;
    border-radius: 15px;
    background: #fff;
    font-size: 0;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
    overflow: hidden;

    &.slick-active {
      width: 45px;
    }

    button {
      display: block;
      width: 100%;
      height: 100%;
    }
  }
}

.slide_box {
  display: flex;
  justify-content: space-between;
}

.slide_txt_area {
  width: 360px;
  .txt_title {
    display: block;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #1a1a1a;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
  }
  .txt_info {
    font-size: 14px;
    color: #939393;
    padding: 0;
  }
  .txt_intro {
    font-size: 14px;
    color: #1a1a1a;
    margin: 10px 0;
  }
  .price_info {
    .p_txt01 {
      font-size: 16px;
      color: #7c7c7c;
      margin-right: 5px;
    }
    .p_txt02 {
      font-size: 16px;
      color: #1da5fd;
    }
    .p_txt03 {
      font-size: 16px;
      color: #ff0000;
      font-weight: 600;
      margin: 0 10px 0 15px;
    }
    .p_txt04 {
      font-size: 16px;
      color: #868686;
    }
  }
  button {
    width: 120px;
    height: 40px;
    margin-top: 20px;
    background-color: #006ca5;
    color: #fff;
    font-size: 16px;
  }
}

// book list
.book_fliter_area {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 30px 0;

  .select_area {
    select {
      display: inline-block;
      width: 130px;
      height: 40px;
      margin-right: 10px;
      border: 1px solid #b7b7b7;
      text-indent: 10px;
      font-size: 16px;
      color: #666;
    }
  }

  .search_area {
    input {
      width: 250px;
      height: 40px;
      padding: 0 15px;
      border: 1px solid #b7b7b7;
      box-sizing: border-box;
      font-size: 16px;
    }
    button {
      width: 90px;
      height: 40px;
      border: none;
      color: #fff;
      font-size: 16px;
      background: #3c3c3c;
    }
  }
}

.book_list {
  padding-bottom: 300px;

  .list_top {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: 1px solid #707070;

    p {
      font-size: 20px;
      color: #282828;
      font-weight: 600;

      span {
        color: #ff0000;
        font-weight: 600;
      }
    }

    .view_select_area {
      button {
        display: inline-block;
        font-size: 16px;
        margin-right: 15px;
        &.active {
          color: #6173ff;
          .book_icon04 {
            background-position: -113px -22px;
          }
          .book_icon05 {
            background-position: -138px 0;
          }
        }
        i {
          margin-right: 5px;
        }
      }

      select {
        padding-left: 12px;
        margin-left: 15px;
        width: 110px;
        height: 30px;
        font-size: 16px;
        text-align: left;
        color: #666;
        letter-spacing: -1px;
        border: 1px solid #b7b7b7;
        box-sizing: border-box;
      }
    }
  }
}

// 간략히 보기
.simple_view {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  padding: 30px 0;

  li {
    position: relative;
    width: 20%;
    padding: 20px;
    input[type="checkbox"] {
      position: absolute;
      top: 0;
      left: 0;
      width: 15px;
      height: 15px;
      border: 1px solid #a9a9a9;
      cursor: pointer;
      &:disabled {
        border: none;
      }
    }
  }
  .book_img_btn {
    display: block;
    width: 100%;
    img {
      display: block;
      width: auto;
      max-width: 70%;
      height: auto;
      max-height: 155px;
    }
  }
  .tit_kind {
    font-size: 12px;
    color: #f14808;
    margin: 10px 0 5px;
  }
  .title {
    width: 100%;
    font-size: 16px;
    color: #1a1a1a;
    text-align: left;
    @include ellipsis(2);
  }
  .info_name {
    font-size: 12px;
    color: #7c7c7c;
    margin: 5px 0 10px;
  }
  .before_price {
    height: 24px;
    span {
      font-size: 14px;
      color: #7c7c7c;
      text-decoration: line-through;
      margin-right: 5px;
    }
    em {
      font-size: 14px;
      color: #f65819;
      font-weight: 600;
    }
  }
  .after_price {
    font-size: 19px;
    color: #1a1a1a;
    font-weight: 600;
    span {
      margin-left: 5px;
      font-size: 14px;
      color: #7c7c7c;
      font-weight: normal;
    }
  }
  .bookstore {
    width: 137px;
    height: 29px;
    margin-top: 10px;
    text-align: center;
    letter-spacing: -1px;
    border: 1px solid #6173ff;
    box-sizing: border-box;
    border-radius: 30px;
    font-size: 13px;
    color: #444;
    &.buy_now {
      display: flex;
      justify-content: space-between;
      i {
        display: inline-block;
        width: 51px;
        height: 30px;
        background-image: url("https://egosi.hackers.com/images/sub/book/book_icons.png");
        background-position: -60px -53px;
        vertical-align: middle;
      }
      span {
        width: 85px;
        line-height: 29px;
      }
    }
  }
}

// 펼쳐보기
.expand_view {
  width: 100%;
  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding: 30px;

    input {
      width: 20px;
      height: 20px;
      // border: 1px solid #ccc;
      vertical-align: middle;
      appearance: auto;
      &:disabled {
        border: none;
        opacity: 0;
      }
    }
  }

  .book_img_btn {
    width: auto;
    max-width: 165px;
    img {
      width: auto;
      max-width: 165px;
      height: auto;
      max-height: 200px;
    }
  }

  .book_info_area {
    width: 550px;

    .tit_kind {
      font-size: 14px;
      color: #2e43e5;
      margin-bottom: 5px;
    }
    .bookTitle {
      color: #1a1a1a;
      @include ellipsis(1);
    }
    .info_name {
      color: #7c7c7c;
      font-size: 14px;
    }

    .book_detail {
      margin: 15px 0;
    }
    .book_delivery {
      font-size: 14px;
      color: #939393;
      span {
        color: #2e43e5;
      }
    }
  }

  .price_area {
    width: 160px;
    text-align: center;

    .before_price {
      font-size: 14px;
      color: #2e43e5;
      font-weight: 600;
      span {
        color: #7c7c7c;
        text-decoration: line-through;
        font-weight: 400;
        margin-right: 10px;
      }
    }

    .after_price {
      font-size: 19px;
      color: #1a1a1a;
      font-weight: 600;
      margin-bottom: 15px;
      span {
        font-size: 14px;
        color: #7c7c7c;
        font-weight: 400;
      }
    }

    .book_mark {
      display: inline-block;
      margin: auto;
      font-size: 12px;
      padding: 2px 10px;
      color: #fff;
      &.reserve_icon {
        background-color: darkblue;
      }
      &.sold_icon {
        background-color: #d51e1f;
      }
    }

    .bookstore {
      display: block;
      width: 160px;
      height: 40px;
      margin: 20px auto 5px;
      color: #fff;
      background: #6173ff;
      border: 1px solid #6173ff;
      font-size: 16px;

      &.cart_btn {
        margin: 5px auto;
        color: #6173ff;
        background: #fff;
        border: 1px solid #6173ff;
      }
    }
  }
}
