.enrolment_wrap {
  position: relative;
  width: 1050px;
  margin: 30px auto 20px;
  background: #fff;
  letter-spacing: -1px;
  text-align: left;
  display: flex;
  justify-content: space-between;
}

// lnb
.lnb_wrap {
  width: 153px;

  .lnb_title {
    font-size: 24px;
    color: #000;
    font-weight: bold;
    padding-bottom: 7px;
    margin-bottom: 20px;
    border-bottom: 3px solid #000;
  }
  .lec_menu {
    a:hover {
      color: #0169a6;
    }
  }

  .lec_menu dt {
    position: relative;
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
    background: #eff8fd;
    border-top: 1px solid #d9d9d9;
    font-size: 16px;
    color: #0169a6;
    cursor: pointer;

    span {
      position: absolute;
      top: 0;
      right: 0;
      margin-right: 10px;
      font-size: 12px;
    }
  }
  .lec_menu dd.on {
    max-height: 2000px;
  }
  .lec_menu dd.off {
    max-height: 0;
  }

  .lec_menu dd {
    transition: 0.3s;
    overflow: hidden;
    p {
      height: auto;
      line-height: 40px;
      border-top: 1px solid #d9d9d9;
      font-size: 15px;
      color: #333333;
      text-indent: 10px;
      font-weight: bold;
    }

    .lec_list {
      border-top: 1px dotted #d9d9d9;
      li {
        font-size: 14px;
        line-height: 40px;
        text-indent: 20px;
        color: #333;
      }

      li:before {
        content: "-";
        padding-right: 2px;
      }
      a {
        font-size: 13px;
      }
    }
  }
}

// 강의 리스트 제목
.lecture_cont {
  width: 865px;

  .title_section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #1a1a1a;
    padding-bottom: 10px;
    margin-bottom: 40px;

    .title {
      font-size: 22px;
      color: #1a1a1a;
      font-weight: bold;
    }

    .lecture_nav {
      font-size: 14px;
      color: #808080;
      em {
        color: #0169a6;
      }
    }
  }

  // 강의 리스트 수량
  .lecture_data {
    margin: 15px 0 90px;
    display: flex;
    align-items: center;
    .lec_qty {
      position: relative;
      padding-right: 20px;
      margin-right: 20px;
      font-size: 16px;
      color: #999999;
      span {
        color: #0169a6;
      }
    }
    .lec_qty::after {
      content: "";
      position: absolute;
      right: 0;
      bottom: 4px;
      width: 1px;
      height: 60%;
      background: #999999;
    }
    .lec_date {
      color: #999999;
    }
  }

  // 강좌 찾아보기
  .search_section {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .title {
      font-size: 20px;
    }
    .title::before {
      display: inline-block;
      vertical-align: baseline;
      width: 19px;
      height: 19px;
      margin: 0 5px 0 0;
      content: "";
      background: url(//egosi.hackers.com/images/lecture/icon_search.png) 0 0
        no-repeat;
    }
    .search_box {
      .guide_btn {
        width: 135px;
        background: #49aed6;
        border-radius: 18px;
        margin: 0 10px;
        height: 35px;
        line-height: 35px;
        font-size: 16px;
        color: #fff;
      }
      .lecture_search {
        width: 220px;
        height: 35px;
        padding: 0 10px;
        line-height: 35px;
        border: 1px solid #cccccc;
        box-sizing: border-box;
        font-size: 16px;
        color: #999999;
      }
      .search_btn {
        position: relative;
        width: 80px;
        height: 35px;
        margin-left: 10px;
        line-height: 35px;
        font-size: 16px;
        color: #fff;
        border: none;
        background: #0169a6;
        .icon_q_mark {
          vertical-align: middle;
          margin: 0 0 3px 5px;
        }
      }
      .tooltip {
        position: absolute;
        top: 125px;
        right: -74px;
        padding: 20px;
        font-size: 16px;
        background: #eff8fd;
        border-radius: 15px;
        border-top-left-radius: 0;
        border: 1px solid #0169a6;
        z-index: 20;
        display: none;
        strong {
          color: #0169a6;
        }
      }
      .tooltip.on {
        display: block;
      }
      .reset_btn {
        border: 1px solid #0169a6;
        box-sizing: border-box;
        background: #fff;
        color: #0169a6;
        width: 80px;
        height: 35px;
        margin-left: 10px;
        line-height: 35px;
        font-size: 16px;
      }
    }
  }
}

//강의 리스트 탭
.lecture_section {
  table {
    width: 100%;
    margin-top: 10px;
    border-top: 2px solid #ccc;
    th {
      width: 170px;
      padding: 0 0 0 30px;
      background: #f7f7f7;
      font-size: 16px;
      color: #333333;
      text-align: left;
      border-bottom: 1px solid #e6e6e6;
      font-weight: normal;
      span {
        display: inline-block;
        width: 60px;
        text-align: right;
        font-size: 14px;
        color: #999999;
        cursor: pointer;
        text-decoration: underline;
      }
    }
    td {
      width: 685px;
      padding-left: 20px;
      color: #808080;
      border-bottom: 1px solid #e6e6e6;
    }
    .tab_list {
      padding: 20px 0;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      overflow: hidden;
      height: 60px;
      li {
        position: relative;
        margin-right: 25px;
        height: 30px;
        line-height: 30px;
        font-size: 16px;
        color: #808080;
        cursor: pointer;
      }
      li.on {
        color: #0169a6;
        font-weight: bold;
      }
      li::before {
        content: "";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -10px;
        width: 1px;
        height: 16px;
        background: #b8b8b8;
      }
    }
    .tab_list.on {
      height: auto;
    }
  }
}

//신규 개강 강좌 체크
.new_lec_chK {
  display: flex;
  align-items: center;
  justify-content: end;
  input {
    width: 16px;
    height: 16px;
    margin-right: 5px;
  }
  label {
    cursor: pointer;
  }
  select {
    width: 140px;
    height: 35px;
    margin-left: 10px;
    font-size: 16px;
    color: #999999;
  }
}

// 선생님 배너
.t_bnr {
  position: relative;
  .t_img {
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .t_title {
    background: #eff8fd;
    width: 100%;
    min-height: 100px;
    padding: 20px 0 20px 150px;
    .t_info {
      font-size: 20px;
    }
    .t_name {
      font-size: 24px;
      margin-right: 7px;
      font-weight: bold;
      display: inline-block;
    }
    .t_home_btn {
      display: inline-block;
      width: 60px;
      height: 22px;
      font-size: 12px;
      color: #0169a6;
      border: 1px solid #0169a6;
      border-radius: 20px;
      box-sizing: border-box;
      text-align: center;
    }
  }
}

// 강의목록
.t_lecture_wrap {
  .t_subject {
    font-size: 18px;
    font-weight: bold;
    padding: 16px 0;
    border-top: 2px solid #000;
    border-bottom: 1px solid #ccc;
  }
  .lecture_box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    border-bottom: 1px solid #ccc;
    .mark {
      display: inline-block;
      font-size: 11px;
      background-color: #808080;
      color: #fff;
      text-align: center;
      height: 16px;
      line-height: 16px;
      margin-right: 5px;
      padding: 0 4px;
    }
    .mark.new {
      background-color: #e02d02;
    }
    .mark.doing {
      background-color: #ffa200;
    }
    .mark.clear {
      background-color: #808080;
    }
    .mark.common {
      background-color: #b193c5;
    }
    .mark.free {
      background-color: #808080;
    }

    .t_detail_link {
      display: block;
      width: 400px;
      padding: 10px 0;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 18px;
      font-weight: bold;
      color: #1a1a1a;
    }

    .commentary_area {
      display: flex;
      align-items: center;
      .commentary_icon {
        display: flex;
        align-items: center;
        p {
          margin-right: 15px;
          font-size: 16px;
          color: #7c7c7c;
          font-weight: 400;
        }
        span {
          background: url("https://egosi.hackers.com/images/lecture/teaDetail_icon.png")
            no-repeat top left;
          width: 17px;
          height: 17px;
          vertical-align: middle;
          margin-right: 5px;
        }
      }
      .commentary_icon.period {
        span {
          background-position-y: -410px;
        }
      }
      .commentary_icon.mobile {
        span {
          background-position-y: -430px;
        }
      }
      .commentary_icon.pc {
        span {
          background-position-y: -450px;
        }
      }
      .commentary_icon.interest {
        a {
          font-weight: bold;
        }
        span {
          background-position-y: -470px;
        }
      }
    }

    .t_video_btn {
      button {
        display: block;
        border: 1px solid #e6e6e6;
        font-size: 14px;
        color: #737373;
        text-align: center;
        width: 86px;
        margin: 0 auto;
        height: 28px;
        line-height: 28px;
        margin-bottom: 6px;
        box-sizing: border-box;
      }
    }

    .payment_area {
      li {
        display: flex;
        align-items: center;
        justify-content: space-between;
        input {
          margin-right: 5px;
        }
        label {
          cursor: pointer;
          margin-right: 20px;
        }
        .price {
          font-weight: bold;
        }
      }
    }
  }
}
