.enrolment_wrap {
  position: relative;
  width: 1050px;
  margin: 30px auto 20px;
  background: #fff;
  letter-spacing: -1px;
  text-align: left;
  display: flex;
  justify-content: space-between;
}

.lnb_wrap {
  width: 153px;

  .lnb_title {
    font-size: 24px;
    color: #000;
    font-weight: bold;
    padding-bottom: 7px;
    margin-bottom: 20px;
    border-bottom: 3px solid #000;
  }

  .lec_menu dt {
    position: relative;
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
    background: #eff8fd;
    border-top: 1px solid #d9d9d9;
    font-size: 16px;
    color: #0169a6;
    cursor: pointer;

    span {
      position: absolute;
      top: 0;
      right: 0;
      margin-right: 10px;
      font-size: 12px;
    }
  }
  .lec_menu dd.on {
    max-height: 2000px;
  }
  .lec_menu dd.off {
    max-height: 0;
  }

  .lec_menu dd {
    transition: 0.3s;
    overflow: hidden;
    p {
      height: auto;
      line-height: 40px;
      border-top: 1px solid #d9d9d9;
      font-size: 15px;
      color: #333333;
      text-indent: 10px;
      font-weight: bold;
    }

    .lec_list {
      border-top: 1px dotted #d9d9d9;
      li {
        font-size: 14px;
        line-height: 40px;
        text-indent: 20px;
        color: #333;
      }

      li:before {
        content: "-";
        padding-right: 2px;
      }

      li:hover {
        a {
          color: #0169a6;
        }
      }

      a {
        font-size: 13px;
      }
    }
  }
}

.lecture_cont {
  width: 865px;

  .title_section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #1a1a1a;
    padding-bottom: 10px;
    margin-bottom: 40px;

    .title {
      font-size: 22px;
      color: #1a1a1a;
      font-weight: bold;
    }

    .lecture_nav {
      font-size: 14px;
      color: #808080;
      em {
        color: #0169a6;
      }
    }
  }

  .search_section {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .title {
      font-size: 20px;
    }
    .title::before {
      display: inline-block;
      vertical-align: baseline;
      width: 19px;
      height: 19px;
      margin: 0 5px 0 0;
      content: "";
      background: url(//egosi.hackers.com/images/lecture/icon_search.png) 0 0
        no-repeat;
    }
    .search_box {
      .guide_btn {
        width: 135px;
        background: #49aed6;
        border-radius: 18px;
        margin: 0 10px;
        height: 35px;
        line-height: 35px;
        font-size: 16px;
        color: #fff;
      }
      .lecture_search {
        width: 220px;
        height: 35px;
        padding: 0 10px;
        line-height: 35px;
        border: 1px solid #cccccc;
        box-sizing: border-box;
        font-size: 16px;
        color: #999999;
      }
      .search_btn {
        position: relative;
        width: 80px;
        height: 35px;
        margin-left: 10px;
        line-height: 35px;
        font-size: 16px;
        color: #fff;
        border: none;
        background: #0169a6;
        .icon_q_mark {
          vertical-align: middle;
          margin: 0 0 3px 5px;
        }
      }
      .tooltip {
        position: absolute;
        top: 125px;
        right: -74px;
        padding: 20px;
        font-size: 16px;
        background: #eff8fd;
        border-radius: 15px;
        border-top-left-radius: 0;
        border: 1px solid #0169a6;
        z-index: 20;
        display: none;
        strong {
          color: #0169a6;
        }
      }
      .tooltip.on {
        display: block;
      }
      .reset_btn {
        border: 1px solid #0169a6;
        box-sizing: border-box;
        background: #fff;
        color: #0169a6;
        width: 80px;
        height: 35px;
        margin-left: 10px;
        line-height: 35px;
        font-size: 16px;
      }
    }
  }
}
