* {
  padding: 0;
  margin: 0
}
a{text-decoration:none;color:#000}
ul,
li {
  list-style: none;
}

.mainContents {
  background: #fff;
}

.headerWrap {
  position: fixed;
  width: 100%;
  height: 80px;
  line-height: 80px;
  background: transparent;
  color: #fff;
  padding: 0 20px;
  box-sizing: border-box;
  z-index: 9;
}

.headerWrap .HackersLogo {
  font-size: 24px;
  font-weight: 600;
}

.headerWrap .teamLogo {
  position: absolute;
  right: 20px;
  top: 0;
  font-size: 24px;
  font-weight: 600;
}

.footerWrap {
  position: relative;
  width: 100%;
  height: 100px;
  line-height: 100px;
  background: #666;
  color: #fff;
  padding: 0 20px;
  box-sizing: border-box;
}

.footerWrap .HackersLogo {
  font-size: 24px;
  font-weight: 600;
}

.visualWrap {
  width: 100%;
  height: 450px;
  background:url("https://cdn.hackers.com/egosi/images/banner/2023/main/bg05.jpg")no-repeat 0 0;
}

.contentsWrap {
  position: relative;
  width: 100%;
  min-width: 1050px;
  height: auto;
}

.contentInner {
  width: 1200px;
  margin: 0 auto
}

.contentsWrap .mainTit {
  font-size: 26px;
  margin: 50px 0 20px;
  font-weight: 600
}

.contentsWrap .teamSite:after {content:'';clear:both;height:0;display:block;visibility:hidden;}

.contentsWrap .teamSite li {
  width: 24%;
  height: 250px;
  background: #fff;
  border:1px solid #ddd;
  float: left;
  margin-right: 1%;
  text-align: center;
  transition:0.5s;
  box-shadow:5px 5px 9px 2px #e7e7e7d9
}
.contentsWrap .teamSite li:hover{background:#d9deff;border:1px solid #1d38e7}
.contentsWrap .teamSite li a{display:block;width:100%;height:100%;}
.contentsWrap .teamSite li img{margin:50px 0 10px}

.contentsWrap .teamSite li p {
  font-size: 18px;
  color: #666;
}

.contentsWrap .teamSite li:last-child {
  margin-right: 0;
}

.bannerWrap {
  width: 100%;
  height: 180px;
  background: url("https://cdn.hackers.com/egosi/images/banner/2023/main/bg01.jpg")no-repeat 0 0;
  margin: 80px 0 20px;
  text-indent:-9999px
}

.contentsWrap .notiWrap {
  overflow: hidden;
  margin-bottom: 80px
}
.contentsWrap .notiWrap .mainTit{position:relative;border-bottom:1px solid #ddd;padding-bottom:10px;}
.contentsWrap .notiWrap .mainTit a{position:absolute;right:0;top:5px;font-size:16px;}
.contentsWrap .notiWrap div {
  float: left;
  width: 500px
}
.contentsWrap .notiWrap div:last-child{float:right}
.contentsWrap .notiWrap li {
  line-height: 1.7;
}